# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import numpy as np

In [2]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

In [3]:
import tensorflow as tf
from tensorflow import keras
import tensorflow.keras.backend as K

In [4]:
np.random.seed(42)
tf.random.set_seed(42)

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [5]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [6]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
#applicant_data_df = pd.read_csv("applicants_data_csv")
applicant_data_df = pd.read_csv("applicants_data.csv")
# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Review the data types associated with the columns

list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [8]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])
# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [9]:
applicant_data_df[["STATUS","ASK_AMT","IS_SUCCESSFUL"]]

       STATUS   ASK_AMT  IS_SUCCESSFUL
0           1      5000              1
1           1    108590              1
2           1      5000              0
3           1      6692              1
4           1    142590              1
...       ...       ...            ...
34294       1      5000              0
34295       1      5000              0
34296       1      5000              0
34297       1      5000              1
34298       1  36500179              0

[34299 rows x 3 columns]

In [10]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE', 
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']
# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [11]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [12]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [15]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[["STATUS","ASK_AMT","IS_SUCCESSFUL"]], encoded_df ], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [16]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [17]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"]).copy()

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [18]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [19]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [20]:
X_train.shape

(25724, 116)

In [21]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [22]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [23]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  70

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

70

In [24]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  35

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

35

In [25]:
# Create the Sequential model instance
nn = Sequential()

In [26]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [27]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [28]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=1, activation="sigmoid"))

In [29]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 70)                8190

 dense_1 (Dense)             (None, 35)                2485

 dense_2 (Dense)             (None, 1)                 36

=================================================================
Total params: 10,711
Trainable params: 10,711
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [30]:
# Compile the Sequential model
# YOUR CODE HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [31]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
model = nn.fit(X_train_scaled, y_train, epochs=50,)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5776 - accuracy: 0.7189
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5548 - accuracy: 0.7299
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7296
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7320
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7336
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7339
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7346
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7348
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7362
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7354
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7349
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7365
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7360
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7370
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7379
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7376
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7364
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7373
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7381
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7384
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7390
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7379
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7386
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7379
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7392
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7384
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7394
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7399
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7396
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7395
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7395
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7392
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7404
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7403
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7409
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7389
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7412
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7409
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7412
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7409
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7409
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7411
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7398
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7411
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7408
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7417
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7412
Epoch 49/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5319 - accuracy: 0.7409
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7414

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [32]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5529 - accuracy: 0.7301 - 457ms/epoch - 2ms/step
Loss: 0.5528775453567505, Accuracy: 0.7301457524299622

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [36]:
from pathlib import Path

In [37]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [39]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [40]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [41]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 80

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

80

In [42]:
hidden_nodes_layer1_A1_2 = 60

In [43]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [44]:
# First hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))
nn_A1.add(Dense(units=hidden_nodes_layer1_A1_2, input_dim=number_input_features, activation="relu"))
# Output layer
# YOUR CODE HERE
nn_A1.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                9360

 dense_4 (Dense)             (None, 60)                4860

 dense_5 (Dense)             (None, 1)                 61

=================================================================
Total params: 14,281
Trainable params: 14,281
Non-trainable params: 0
_________________________________________________________________

In [45]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [46]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5740 - accuracy: 0.7232
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5532 - accuracy: 0.7292
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7305
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7314
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7332
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7322
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7337
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7334
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7352
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7362
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7368
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7360
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7374
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7369
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7371
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7382
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7359
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7384
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7385
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7387
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7380
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7390
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7394
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7400
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7395
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7401
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7400
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7399
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7395
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7404
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7412
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7403
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7409
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7408
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7413
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7408
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7416
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7406
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7406
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7418
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7414
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7420
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7413
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7424
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7411
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7419
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5308 - accuracy: 0.7417
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7420
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7417
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7418
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7414
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7418
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7416
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7411
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5298 - accuracy: 0.7417
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7418
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5296 - accuracy: 0.7421
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5300 - accuracy: 0.7426
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7423
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5302 - accuracy: 0.7425
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5288 - accuracy: 0.7428
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5296 - accuracy: 0.7423
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5296 - accuracy: 0.7425
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7425
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7426
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5291 - accuracy: 0.7425
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5291 - accuracy: 0.7421
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7424
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7427
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7427
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5290 - accuracy: 0.7423
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7421
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7432
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7429
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7418
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7422
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5280 - accuracy: 0.7427
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7429
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5282 - accuracy: 0.7422
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7421
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7423
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7427
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5280 - accuracy: 0.7424
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7429
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5280 - accuracy: 0.7435
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5273 - accuracy: 0.7431
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5286 - accuracy: 0.7423
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5277 - accuracy: 0.7428
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5275 - accuracy: 0.7425
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5276 - accuracy: 0.7435
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5275 - accuracy: 0.7428
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5278 - accuracy: 0.7428
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5273 - accuracy: 0.7431
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5271 - accuracy: 0.7427
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5273 - accuracy: 0.7430
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5272 - accuracy: 0.7431
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5280 - accuracy: 0.7430
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5269 - accuracy: 0.7428
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5271 - accuracy: 0.7424

#### Alternative Model 2

In [47]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [48]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [49]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 90

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

90

In [50]:
hidden_nodes_layer1_A2_2 = 65

In [51]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [52]:
# First hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))
nn_A2.add(Dense(units=hidden_nodes_layer1_A2_2, input_dim=number_input_features, activation="relu"))
# Output layer
# YOUR CODE HERE
nn_A2.add(Dense(units=1, activation="sigmoid"))
# Check the structure of the model
# YOUR CODE HERE
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 90)                10530

 dense_7 (Dense)             (None, 65)                5915

 dense_8 (Dense)             (None, 1)                 66

=================================================================
Total params: 16,511
Trainable params: 16,511
Non-trainable params: 0
_________________________________________________________________

In [53]:
# Compile the model
# YOUR CODE HERE
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [54]:
# Fit the model
# YOUR CODE HERE
nn_A2.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5739 - accuracy: 0.7225
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7304
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7314
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7327
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7328
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7338
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7348
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7347
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7367
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7371
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7366
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7364
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7377
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7376
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7372
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7385
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7379
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7391
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7390
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7394
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7397
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7391
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7400
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7391
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7406
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7391
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7395
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7407
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7406
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7401
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7400
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7402
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7406
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7397
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7410
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7405
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7410
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7411
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7407
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7409
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7413
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7416
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7412
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7414
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7416
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7407
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7414
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5310 - accuracy: 0.7413
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7407
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5310 - accuracy: 0.7418
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7411
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7413
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7413
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5307 - accuracy: 0.7410
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7417
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7420
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5302 - accuracy: 0.7420
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7416
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7421
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7421
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5294 - accuracy: 0.7419
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7419
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7417
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7421
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5295 - accuracy: 0.7423
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7418
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7420
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7425
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5296 - accuracy: 0.7425
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5291 - accuracy: 0.7427
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7413
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7418
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5289 - accuracy: 0.7419
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7417
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7426
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7425
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7428
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5285 - accuracy: 0.7428
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5283 - accuracy: 0.7423
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7426
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5290 - accuracy: 0.7426
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5280 - accuracy: 0.7435
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5281 - accuracy: 0.7425
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7421
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5276 - accuracy: 0.7434
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5277 - accuracy: 0.7427
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7418
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5281 - accuracy: 0.7427
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5275 - accuracy: 0.7427
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7425
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5271 - accuracy: 0.7431
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5275 - accuracy: 0.7427
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5276 - accuracy: 0.7423
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5273 - accuracy: 0.7436
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5274 - accuracy: 0.7426
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5293 - accuracy: 0.7424
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5273 - accuracy: 0.7416
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5272 - accuracy: 0.7425
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5272 - accuracy: 0.7428

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [55]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5529 - accuracy: 0.7301 - 340ms/epoch - 1ms/step
Loss: 0.5528775453567505, Accuracy: 0.7301457524299622

In [56]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5678 - accuracy: 0.7307 - 447ms/epoch - 2ms/step
Loss: 0.5678082704544067, Accuracy: 0.7307288646697998

In [57]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.5911 - accuracy: 0.7289 - 615ms/epoch - 2ms/step
Loss: 0.5911296010017395, Accuracy: 0.728863000869751

### Step 3: Save each of your alternative models as an HDF5 file.

In [60]:
import tensorflow as tf

In [64]:
# Set the file path for the first alternative model
alternative1_file_path = Path("Resources/AlphabetSoup1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [65]:
# Set the file path for the second alternative model
alternative2_file_path = Path("Resources/AlphabetSoup2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)